---
layout: default
---

<article itemscope itemtype="https://schema.org/BlogPosting">
  <header>
    <h1 class="text-5xl text-zinc-800 pb-4" itemprop="headline">{{ page.title | escape }}</h1>

    {% if page.date %}
    <div class="pb-8 text-zinc-400 text-sm">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%B %d, %Y" }}
      </time>
      <!-- <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ site.author.name }}</span>
      </span> -->
      <time hidden datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
        {{ page.date | date: "%b %d, %Y" }}
      </time>
      <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
      <span hidden itemprop="image">{{ page.image }}</span>
      <span hidden itemprop="mainEntityOfPage">{{ page.excerpt }}</span>
    </div>
    {% endif %}

  </header>

  <div class="post-content" itemprop="articleBody">
    {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=1 h_max=4 %}

    {% if page.tweet %}
      <p>Comments this article on 
        <a href="https://twitter.com/{{site.twitter}}/status/{{page.tweet}}">Twitter</a>.
      </p>
    {% endif %}
  </div>
</article>

{% if page.comments %}
  {% include comments.html %}
{% endif %}